.films__container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 16px;
  padding: 60px 0;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    gap: 32px;
  }
  @media screen and (max-width: 767px) {
    gap: 20px 0;
    padding: 60px 20px;
  }
}
.film__info {
  &-name {
    margin-top: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    max-width: 309px;
  }

  &-desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #ff6b08;
  }
}

.film__img {
  width: 309px;
  height: 449px;
  @media screen and (max-width: 1024px) {
    width: 336px;
    height: 455px;
  }
  @media screen and (max-width: 767px) {
    width: 336px;
    height: 455px;
  }
}

body.dark .film__info-name {
  color: #f7f7f7;
}
.rating {
  color: white;
  background: #ff6b08;
  border-radius: 5px;
  padding: 1px 10px;
  margin-left: 5px;
}

.votes {
  width: 36px;
  height: 16px;
  background: #f7f7f7;
  border-radius: 5px;
  padding: 1px 4px;
}

.film-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.films__empty-list-thumb {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}
.films__empty-list-message {
  color: getColor('another-text-color');
  font-size: 26px;
}
.films__empty-list-message-icon {
  margin-top: 15px;

  background-image: url(../images/svg/sad.svg);
  opacity: 0;

  animation: appearing 2000ms linear 0ms 1 forwards;
}

@keyframes appearing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
