
<footer class="filmoteka_footer">
    <!-- <div class="footer-content"> -->
        <div class="footer_left">

        <span class="text">© 2022 | All Rights Reserved |&nbsp;</span>
    </div>
        <div class="footer_right">
        <div class="footer_text">
            <span class="text_before_svg">Developed with 
                <svg class="svg" width="14" height="12.88">
                    <use  href="./images/svg/heart.svg"></use>
                </svg>
                by</span>
            

            <a class="footer_link" href="#" team-data-modal>GoIT Students</a>

            <button class="scroll-top scroll-top_show" id="scroll-top">↑</button>

        </div>
        </div>
    <!-- </div> -->
</footer>