
<div class="modal-backdrop opacity is-hidden" team-data>
    <div class="modal-window">
        <button type="button" class="team-close" team-data-close>
            <svg class="svg-team"  width="10" height="10">
                <use href="./images/svg/heart.svg"></use>
            </svg>
        </button>
        
        <div class ="team__container">

            <p class="team_name lang-our">CODE HUNTERS</p>
            <p class="team_text lang-desc">Together we learned working in a team, supporting each other and helping in solving the tasks. Thank you GO IT!</p>

            <ul class="card-set">
                <li class="card-set__item">
                    <a href="#" class="card-set__link">
                        <div class="overlay-team">
                            <img class="card-set__image" src="./images/team/Yuriiy Lid.jpg">
                            <div class="overlay__wrapper">
                                <p class="overlay__text lang-over1">My hobby - reading books and watching films.In the project, I acted as a Team Lead,worked with Git, and also set up registration through Firebase.Also helped the team fix bugs.</p>
                            </div>
                        
                        
                        <div class="card-content">
                            <h2 class="card-content__name lang-name1">Iuri Radulov</h2>
                            <p class="card-content__text lang-team">Team-lead/developer</p>
                        </div>
                    </div>
                    </a>
                </li>
                
                <li class="card-set__item">
                    <a href="#" class="card-set__link">

                        <div class="overlay-team">
                            <img class="card-set__image" src="./images/team/Anna.jpg"">
                            <div class="overlay__wrapper">
                                <p class="overlay__text lang-over2">Hobby - singing, self-development and learning.In the project,I acted as a Scrum Master,made a footer,favicon and modal window with members of our team,change the dark theme of the site and scroll back to top. </p>
                        </div>

                        <div class="card-content">
                            <h2 class="card-content__name lang-anna lang-name2">Anna Zaluzhnaya</h2>
                            <p class="card-content__text lang-scrum">Scrum/developer</p>
                        </div>
                    </div>
                    </a>
                </li>


                <li class="card-set__item">
                    <a href="#" class="card-set__link">
                        
                        <div class="overlay-team">
                            <img class="card-set__image" src="./images/team/Evgeniiy.jpg">
                        <div class=" overlay__wrapper">
                            <p class="overlay__text lang-over3">In my free time I like to run.In the project, I implemented pagination on the main page and display the relevant part of the films when moving to each subsequent page.</p>
                        </div>
                        <div class="card-content">
                            <h2 class="card-content__name lang-name3">Yevhenii Kononets</h2>
                            <p class="card-content__text lang-dev1">developer</p>
                        </div>
                    </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="#" class="card-set__link">
                        
                    <div class="overlay-team">
                            <img class="card-set__image" src="./images/team/Alex.jpg">
                        <div class=" overlay__wrapper">
                                <p class="overlay__text lang-over4">My hobby is a dog and a child.In the project, I laid out the "My Library" page container and implemented the rendering of the user's library.</p>
                        </div>
                        <div class="card-content">
                            <h2 class="card-content__name lang-name4">Aleksey Samchik</h2>
                            <p class="card-content__text lang-dev2">developer</p>
                        </div>
                    </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="#" class="card-set__link">

                    <div class="overlay-team">
                            <img class="card-set__image" src="./images/team/Dima.jpg">
                        <div class=" overlay__wrapper">
                                <p class="overlay__text lang-over5">My hobby - learning,cars and fishing.In the project, I made a header and implemented the drawing of the main page by clicking on the logo and the "Home" button.</p>
                        </div>
                        <div class="card-content">
                            <h2 class="card-content__name lang-name5">Dmytro Khomenko</h2>
                            <p class="card-content__text lang-dev3">developer</p>
                        </div>
                    </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="#" class="card-set__link">

                    <div class="overlay-team">
                            <img class="card-set__image" src="./images/team/Roman.jpg">
                        <div class=" overlay__wrapper">
                                <p class="overlay__text lang-over6">My hobby - guitars and music. In this project I implemented adding movies to database on “Add to watched” and “Add to
                                queue” buttons click, as well as deleting them. Using Firebase, each list of movies is tied to certain user’s account. I
                                also implemented rendering movies lists to “Library” page on «Watched” and “Queue” buttons click and pagination for this
                                page.</p>
                        </div>
                        <div class="card-content">
                            <h2 class="card-content__name lang-name6">Roman Havrylenko</h2>
                            <p class="card-content__text lang-dev4">developer</p>
                        </div>
                    </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="#" class="card-set__link">
                        
                    <div class="overlay-team">
                            <img class="card-set__image" src="./images/team/Maksim.jpg">
                        <div class=" overlay__wrapper">
                                <p class="overlay__text lang-over7">My hobby now just work & IT.In the project, I laid out a header for the "My Library" page and implemented a Loader (spinner) for asynchronous requests.</p>
                        </div>
                
                        <div class="card-content">
                            <h2 class="card-content__name lang-name7">Maksym Berezhnoi</h2>
                            <p class="card-content__text lang-dev5">developer</p>
                        </div>
                    </div>
                    </a>
                </li> 


                <li class="card-set__item">
                    <a href="#" class="card-set__link">
                        
                    <div class="overlay-team">
                            <img class="card-set__image"
                                src="./images/team/Matveyy.jpg">
                        <div class=" overlay__wrapper">
                                <p class="overlay__text lang-over8">My hobby - music and self-improvement.In the project, I made up a card template for one movie and a main page container for the correct positioning of movie cards, as well as a button for changing the site language from English to Ukrainian and vice versa.</p>
                        </div>
                        <div class="card-content">
                            <h2 class="card-content__name lang-name8">Matvey Rubec</h2>
                            <p class="card-content__text lang-dev6">developer</p>
                        </div>
                    </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="#" class="card-set__link">
                        <div class="overlay-team">
                            <img class="card-set__image"
                                src="./images/team/Oksana.jpg">
                            <div class=" overlay__wrapper">
                                <p class="overlay__text lang-over9">I implemented uploading popular movies to the main page, searching and rendering movies by keyword, dynamically inserted
                                information about the movie by clicking on the movie card,closing the modal by pressing the ESC key and by clicking
                                outside the modal area. And also implemented a change of site language from English to Ukrainian and vice versa.</p>
                            </div>
                
                            <div class="card-content">
                                <h2 class="card-content__name lang-name9">Oksana Vovk</h2>
                                <p class="card-content__text lang-dev7">developer</p>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="#" class="card-set__link">

                    <div class="overlay-team">
                        <img class="card-set__image"
                            src="./images/team/Y.jpg">
                        <div class=" overlay__wrapper">
                            <p class="overlay__text lang-over10">My hobby is cheese making.In the project, I created and designed buttons for registration and authentication of the user on the page.</p>
                        </div>
                
                        <div class="card-content">
                            <h2 class="card-content__name lang-name10">Yuriy Brovko</h2>
                            <p class="card-content__text lang-dev8">developer</p>

                        </div>
                    </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <a href="#" class="card-set__link">

                    <div class="overlay-team">
                            <img class="card-set__image"
                                src="./images/team/N.jpg">
                            <div class=" overlay__wrapper">
                                <p class="overlay__text lang-over11">My hobby - children,pc,music,video-game and shopping.In the project,I created a modal template for one movie and adapted it for mobile, tablet and desktop.</p>
                            </div>
                
                        <div class="card-content">
                            <h2 class="card-content__name lang-name11">Nikolay Chernetskiy</h2>
                            <p class="card-content__text lang-dev9">developer</p>
                        </div>
                    </div>
                    </a>
                </li>

                <li class="card-set__item">
                    <div class="card-content content_end">
                        <p class="card-content__end lang-tobe"> TO BE CONTINUED...</p>
                        
                    </div>
                    <a href="https://github.com/Iura-Radulov/teamproject-filmoteka" class="card-set__link link-git lang-git">
                        Welcome to our GitHub
                    </a>
                </li>


            </ul>
        </div>
        
    </div>
</div>

