<div class="pagination">
  <ul id="pagination_list" class="pagination_list">
    <!-- <li>
      <button class="arrow" data-page="previous">
        <p>&#8592;</p>
      </button>
    </li>

    <li><button class="numbers" data-page="1">1</button></li>

    <li><p class="points">&#8230;</p></li>

    <li><button class="numbers" data-page="2">2</button></li>
    <li><button class="numbers" data-page="3">3</button></li>
    <li><button class="numbers active" data-page="4">4</button></li>
    <li><button class="numbers" data-page="5">5</button></li>
    <li><button class="numbers" data-page="6">6</button></li>

    <li><p class="points">&#8230;</p></li>

    <li><button class="numbers" data-page="end">7</button></li>

    <li>
      <button class="arrow" data-page="previous">
        <p>&#8594;</p>
      </button>
    </li> -->
  </ul>
</div>
