.overlay__backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.overlay-container {
  display: block;
  width: 450px;
  max-width: 100%;
  min-height: 480px;

  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  position: relative;

  height: 100%;
  background: #5e60e6;
  color: getColor('white-color');
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlayBtnClose {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 40px;
  text-align: center;

  background-color: rgb(214, 30, 30);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #ecdddd;

  &:hover {
    color: rgb(97, 95, 189);
  }
}

.overlayBtn {
  border-radius: 20px;
  border: 1px solid getColor('btn-color');
  background-color: getColor('btn-color');
  color: getColor('white-color');

  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.overlayBtn:active {
  transform: scale(0.95);
}

.overlayBtn:focus,
.overlayBtn:hover {
  outline: none;
  opacity: 0.8;
}
